
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
}

.navBar{
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logopos{
display: flex;
align-items: center;
color: white;
font-weight: bolder;
font-size: 2rem;
}
.logo{  
  width: 80px;
}

.navBarLink{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 1rem;
  padding: 1rem;
}

.navLinks{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.navLinks:hover{
  background-color: wheat;
  opacity: 70%;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.navLinks:active{
  opacity: 200%;
}

.items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}
.itemsBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;
}
.pictures{
  width: 20rem;
}

.cartTitle{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
  font-weight: bold;
}
.CartItems{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.button{
  background-color: lightblue;
  border-radius: 10px;
  border:0;
  margin: 1rem;
  padding: 1rem;
}
.button:hover{
  opacity: 60%;
}
.button:active{
  opacity: 200%;
}

@media only screen and (max-width: 768px) {
  .itemsBox{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6rem;
  }
}